# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ml_musicgame.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\1-10\ml_musicgame\.idea\.idea.ml_musicgame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
